!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Good morning, #{@user.name}.
    %p
      Here is your daily reminder that it's time to check in with your goals.  We want you to just take a quick second, think of a couple of small goals you want to achieve today, and throw them into your app #{@url}.
      %br
    %p
      Nothing can stop the man with the right mental attitude from achieving his goal; nothing on earth can help the man with the wrong mental attitude. - Thomas Jefferson


