.collection.with-header
  %h4.collection-header Progress Report

.collection.with-header
  %h5.collection-header Daily Goals:
  - @complete_daily_goals.each do |goal|
    .collection-item
      %a.myLink{:href => "#openModal"}= goal.description
      #openModal.modal
        .modal-content
          %span{class: "close"}="x"
          =render "goals/show", :goal => goal

.collection.with-header
  %h5.collection-header Weekly Goals:
  - @complete_weekly_goals.each do |goal|
    .collection-item
      %a.myLink{:href => "#openModal"}= goal.description
      #openModal.modal
        .modal-content
          %span{class: "close"}="x"
          =render "goals/show", :goal => goal

.collection.with-header
  %h5.collection-header Phase Goals:
  - @complete_phase_goals.each do |goal|
    .collection-item
      %a.myLink{:href => "#openModal"}= goal.description
      #openModal.modal
        .modal-content
          %span{class: "close"}="x"
          =render "goals/show"


