.collection.with-header
  %h4.collection-header Progress Report

.collection.with-header
  %h5.collection-header Daily Goals:
  - goals.where(duration: "daily").order('created_at DESC').each do |goal|
    .collection-item
      %p.small-goal-view
        %span="Score: "
        %span.current-score=goal.current_score
        %a.open-modal-link{:href => "#goal-show-modal-daily"}= goal.description
      #goal-show-modal-daily.modal
        .modal-content
          %span.close-modal-btn X
          =render "goals/show", goal: goal

.collection.with-header#weekly-goals
  %h5.collection-header Weekly Goals:
  - goals.where(duration: "weekly").order('created_at DESC').each do |goal|
    .collection-item
      %p.small-goal-view
        %span="Score: "
        %span.current-score=goal.current_score
        %a.open-modal-link{:href => "#goal-show-modal-weekly"}= goal.description
      #goal-show-modal-weekly.modal
        .modal-content
          %span.close-modal-btn X
          =render "goals/show", goal: goal

.collection.with-header#phase-goals
  %h5.collection-header Phase Goals:
  - goals.where(duration: "phase").order('created_at DESC').each do |goal|
    .collection-item
      %p.small-goal-view
        %span="Score: "
        %span.current-score=goal.current_score
        %a.open-modal-link{:href => "#goal-show-modal-phase"}= goal.description
      #goal-show-modal-phase.modal
        .modal-content
          %span.close-modal-btn X
          =render "goals/show", goal: goal


