.goal_form
  %h1{class: "goal-form-h"} Set your goal

  %h3.smart-header S.M.A.R.T Reminder
  %ul.smart
    %li <span class="first-letter">S</span>pecific
    %li <span class="first-letter">M</span>easurable
    %li <span class="first-letter">A</span></span>ttainable
    %li <span class="first-letter">R</span>ealistic
    %li <span class="first-letter">T</span>imely

  .think-about
    %h4 Something to think about...
    %ul
      %li Think of some feedback you've recently recieved from a mentor or college has recently given you
      %li Check out <a href="https://feedback.devbootcamp.com">Feedbackinator</a>, for past examples of feedback.
      %li Think about something you have really wanted to accomplish, don't be afraid to give yourself some "strech" goals!

    =render '/goals/form'




