.goal_form
  %h2{class: "goal-form-h"} Set your goal

  %h3.smart-header S.M.A.R.T Reminder

  %ul.smart
    %li <span class="first-letter">S</span>pecific
    %li <span class="first-letter">M</span>easurable
    %li <span class="first-letter">A</span></span>ttainable
    %li <span class="first-letter">R</span>ealistic
    %li <span class="first-letter">T</span>imely

  %h5.inspiration Some sources of inspiration...
  %ol
    %li daily challenge learning goals
    %li recent feedback from a mentor or pair
    %li <a href="https://feedback.devbootcamp.com">Feedbackinator</a>
    %li Why are you at DBC? What gets you up in the morning?

    =render '/goals/form'




