%h1 Set your goal

%h3 S.M.A.R.T Reminder
%ul.smart
  %li Specific
  %li Measurable
  %li Attainable
  %li Realistic
  %li Timely

%h3 Something to think about...
%ul
  %li Think of some feedback you've recently recieved from a mentor or college has recently given you
  %li Check out <a href="https://feedback.devbootcamp.com">Feedbackinator</a>, for past examples of feedback.
  %li Think about something you have really wanted to accomplish, don't be afraid to give yourself some "strech" goals!

=render 'form'




