.tabs {
  width: auto;
  margin: 0;
  background-color: #F38630;
  color: #A7DBDB !important;
}


.tabs .tab a {
  color: #A7DBDB;
}


.active {
  color: #69D2E7 !important;
}

.s12, .col {
  padding: 0 !important;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.progress-stats-container {
  width: 60%;
  display: inline-block;
}

.progress-user-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar-container {
  height: 30px;
  border: 1px solid #F38630;
}

.progress-bar {
  background-color: #F38630;
  height: 28px;
}

.current-score {
  display: inline-block;
  width: 35%;
}

.complete-checkbox {
  display: inline-block;
  width: 5%;
  float: right;
}

.collection-item {
  padding: 10px !important;
  margin: 0, 3%;
}

.collection h5 {
  margin: 0;
}
