img {
  max-width: 100px;
  max-height: 100px;
}

.progress-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.progress-stats-container {
  width: 60%;
  display: inline-block;
}

.progress-bar-container {
  height: 30px;
  border: 1px solid #F38630;
}

.progress-bar {
  background-color: #F38630;
  height: 28px;
}
