.center-align
  %h3.flow-text Progress encourages you to set short, medium, and long term goals based on interests and feedback, then helps you assess and celebrate improvement.
  %h2 Login to start making
  %h1 Progress
/ = react_component 'LoginForm'
= render 'form'
.center-align
  = link_to 'Register', new_user_path
  = link_to 'Back', user_sessions_path

