#nav_bar
  = link_to "Progress", :controller => "users", :action => "progress"
  = link_to "New Goal", :controller => "goals", :action => "new"
  = link_to "Past Goals", :controller => "goals", :action => "index"
  = link_to "Profile", :controller => "users", :action => "show"
