#nav_bar
  .row
    = link_to "Progress", progress_path, class: "col s3 btn"
    = link_to "New Goal", new_goal_path, class: "col s3 btn"
    = link_to "Past Goals", goals_path, class: "col s3 btn"
    = link_to "Profile", user_path(:id => current_user.id), class: "col s3 btn"
